


.qa{
  width: 40%;
  
}

input[type=text], input[type=password], input[type=email] {
  padding: 12px 20px;
  margin-bottom: 20px;
 
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 16px;
  background-color: rgb(207, 207, 207);
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

input[type=submit]:hover {
  background-color: #45a049;
}
