{% extends 'blog/base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
{{ message }}
</div>
{% endfor %}
{% endif %}

<div class="row">
  
  {% for post in posts %}
    <div class="col-md-4 text-center">
      <div class="card" style="margin-bottom: 20px;"  >
        
        <img class="img-fluid rounded-circle border m-2 text-center" style="width: 70px; height:70px; display:inline-block;"
        src="{{ post.author.profile.image.url }}" alt="Author's Image">
        
             <h3>{{post.author.username}}</h3>
        <div class="card-body" id="card">
          <h5 class="card-title">
            <a href="{% url 'detail' post.id %}" style="color: antiquewhite;">{{ post.title }}</a>
          </h5>
          <p class="card-text">{{ post.content|truncatechars:50 }}</p>
          {% if post.is_liked %}
          <button class="like-button" data-post-id="{{ post.id }}">
            <span class="total-likes" style="background-color: rgba(0, 0, 255, 0.641);" >{{ post.total_likes }} {{is_liked}}</span>{% else %}<span class="total-likes" style="background-color: rgba(0, 0, 255, 0.641);" >{{ post.total_likes }} {{is_liked}}</span>{% endif %}
          </button>
          
          <a href="{% url 'detail' post.id %}" id="show-comments" class="btn btn-success" style="background-color: #348e6e9f ; color: #004e07a4;">{{comments.count}} <i class="fas fa-comments"> </i>تعليقات </a>
          
        </div>
        <div class="card-footer">
          <small class="text-muted">Published on {{ post.post_date|date:'d-m-Y' }}</small>
          


        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% include 'blog/pagination.html' with page=posts %}

<script>
  $(document).ready(function () {
    $('.like-button').click(function () {
      let post_id = $(this).data('post-id');
      $.ajax({
        url: '/like/' + post_id + '/',
        method: 'GET',
        success: function (response) {
          let is_liked = response.is_liked;
          let total_likes = response.total_likes;
          $('.total-likes[data-post-id="' + post_id + '"]').text(total_likes);
          if (is_liked) {
            $('.like-button[data-post-id="' + post_id + '"]').text('Unlike');
          } else {
            $('.like-button[data-post-id="' + post_id + '"]').text('Like');
          }
        }
      });
    });
  });
</script>
{% endblock content %}